body {
	font-family:"Segoe UI",Arial,sans-serif;
	letter-spacing:2px;
}
.spinner{
	 background: url("css/logos/page_spinner.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}

.profile_pic{
	width: 100px;
	height: 80px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.profile_picLg{
	width: 150px;
	height: 130px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


@media print {
* {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
  }
}